*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.header{
    display: flex;
    padding: 10px;
}
nav{
    height: 50px;
    width: 100vw;
    background-color: #FF00CD;
    display: flex;
    position: fixed;
    z-index: 10;
    overflow: hidden;
}
 
 /*Styling logo*/
.logo{
    padding:0;
    align-items: center;
    z-index: 999999;

} 
.logo a{
    text-decoration: none;
    color: #FFFFFF !important;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: italic;
    font-weight: 500;
    line-height: 0px; 
    letter-spacing: 1.2px;
}
 /*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li a{
    text-decoration: none;
    color: #FFF !important;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 0px; 
    letter-spacing: 1.0px;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #61DAFB !important;
}
.nav-links li {
    position: relative;
}
.nav-links li a:hover::before{
    width: 80%;
}
 
/*Styling Hamburger Icon*/
.hamburger div{
   width: 30px;
   height:3px;
   background: #f2f5f7;
   margin: 5px;
   transition: all 0.3s ease;
}
.hamburger{
   display: none;
}



.container{
    max-width: 1320px;
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.nav-item a{
    text-decoration: none;
    color: #FFF !important;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 0px; 
    letter-spacing: 1.0px;
}
.navbar-logo a{
    text-decoration: none;
    color: #FFFFFF !important;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: italic;
    font-weight: 500;
    line-height: 0px; 
    letter-spacing: 1.2px;
}

.about-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-groups{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
    gap: 25px;
}
.about-head{
    width: 100%;
    height: 100px;
    border-bottom: 3px solid  #FF00CD;
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.about-head-text{
    width: 100%;
    color: black;
    font-size: 45px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 45px;
    word-wrap: break-word;
    text-align: center;
}
.about-logo{
    width: 38%;
    height: 400px;
}
.about-logo img{
    width: 100%;
    height: 100%;
}
.about-text{
    display: flex;
    align-items: center;
    width: 58%;
    height: 400px;
}
.about-text p{
    display: block;
    width: 80%;
    color: black;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3.54px;
    word-wrap: break-word;
    color: black;
    font-size: 30px;
    font-family: Fira Sans;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}
.about-text p a{
    color: blue;
    transition: 0.5s all;
    text-decoration: none;
}
.about-text p a:hover{
    color: #FF00CD;

}

.fa-facebook {
    color: blue;
    transition: 1s all;
}
.fa-facebook:hover{
    font-size: 62px;
}

.fa-instagram {
    color: red;
    transition: 1s all;
}

.fa-instagram:hover{

    font-size: 62px;
}
.fa-youtube {
    color: red;
    transition: 1s all;
}
.fa-youtube:hover{

    font-size: 62px;
}
.fa-tiktok{
    transition: 1s all;
}
.fa-tiktok:hover{

    font-size: 62px;
}
.fa-whatsapp {
    color: rgb(107, 221, 107);
    transition: 1s all;
}
.fa-whatsapp:hover{

    font-size: 62px;
}

footer{
    width: 100%;
    height: 350px;
    background-color: #FF00CD;
    margin-top: 100px;

}
.footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.footer-logo{
    width: 20%;
    height: 200px;
    margin-top: 30px;
    border-radius: 44px;
}
.footer-logo img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.footer-page{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.footer-nav-head{
    color: rgba(255, 255, 255, 0.90);
    font-size: 25px;
    font-family: Inter;
    font-weight:200;
    line-height: 31px;
    letter-spacing: 1.42px;
    word-wrap: break-word
}
.footer-navs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}
.footer-navs li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.75px;
    word-wrap: break-word
}
.footer-address{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.footer-address-head{
    color: rgba(255, 255, 255, 0.90);
    font-size: 25px;
    font-family: Inter;
    font-weight:200;
    line-height: 31px;
    letter-spacing: 1.42px;
    word-wrap: break-word
}
.footer-address-body{
    color: white;
    font-size: 25px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.75px;
    word-wrap: break-word
}
.footer-social{

    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.footer-social-head{
    color: rgba(255, 255, 255, 0.90);
    font-size: 25px;
    font-family: Inter;
    font-weight:200;
    line-height: 31px;
    letter-spacing: 1.42px;
    word-wrap: break-word;
    text-align: center;
}
.footer-social-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 30px;
}

.footer-social-icons a i{
    font-size: 33px;
}
.footer-contact{
    height: 100%;
    margin-top: 30px;
}
.footer-contact-head{
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    font-size: 25px;
    font-family: Inter;
    font-weight:200;
    line-height: 31px;
    letter-spacing: 1.42px;
    word-wrap: break-word
}
.footer-contact-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}
.footer-contact-body a{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.75px;
    word-wrap: break-word;
    text-decoration: none;

}
.copywriter{
    width: 100%;
    margin-top: 30px;
}
.writer{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.75px;
    word-wrap: break-word;
    text-decoration: none;
}
.writer a{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.75px;
    word-wrap: break-word;
    text-decoration: none;
}

@media only screen and (max-width:576px){
    .container{
        width: 100% !important;
        margin: auto;
        overflow: hidden;

    }
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #FF00CD;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    li.fade{
        opacity: 1!important;
    }

    /*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
 }
 .toggle .line2{
    transition: all 0.7s ease;
    width:0;
 }
 .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
 }
    .about-groups{
        display: flex;
        flex-direction: column  !important;
        width: 100%;
        height: 880px !important;
        margin-top: 30px;
        gap: 60px !important;
    }
    .about-logo{
        width: 100%  !important;
        height: 350px  !important;
    }
    .about-text {
        display: flex;
        align-items: center;
        width: 100%;
        height: 460px;
    }
    .about-text p{
        width: 100%;
    }

    footer{
        width: 100%;
        height: 100%;
        background-color: #FF00CD;
    
    }
    .footer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
    }
    .footer-logo{
        width: 100%;
        height: 300px;
        margin-top: 30px;
        border-radius: 44px;
    }
    .footer-logo img{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }
    .footer-page{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        text-align: center;
    }
    .footer-nav-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-navs{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
    }
    .footer-navs li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-address{
        width: 100%;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-address-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-address-body{
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-social{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-social-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;
    }
    .footer-social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 30px;
    }
    
    .footer-social-icons a i{
        font-size: 30px;
    }
    .footer-contact{
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }
    .footer-contact-head{
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-contact-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    .footer-contact-body a{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    
    }
    .copywriter{
        width: 100%;
        margin-top: 15px;
    }
    .writer{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
    .writer a{
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }

}

@media only screen and (min-width:576px) and (max-width:768px){
    .container{
        width: 100% !important;
        margin: auto;
        overflow: hidden;

    }
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #FF00CD;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1!important;
    }
    .about-groups{
        display: flex;
        flex-direction: column  !important;
        width: 100%;
        height: 880px !important;
        margin-top: 30px;
        gap: 0 !important;
    }
    .about-logo{
        width: 100%  !important;
        height: 350px  !important;
    }
    .about-text {
        display: flex;
        align-items: center;
        width: 100%;
        height: 480px;
    }
    .about-text p{
        width: 100%;
    }
    footer{
        width: 100%;
        height: 100%;
        background-color: #FF00CD;
    
    }
    .footer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap !important;
        justify-content: space-between;
        margin-top: 30px;
    }
    .footer-logo{
        width: 49% !important;
        height: 280px;
        margin-top: 30px;
        border-radius: 44px;
    }
    .footer-logo img{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }
    .footer-page{
        width: 49% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        text-align: center;
    }
    .footer-nav-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;
    }
    .footer-navs{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
    }
    .footer-navs li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
    }
    .footer-address{
        width: 49% !important;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-address-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;

    
    }
    .footer-address-body{
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-social{
        width: 49% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-social-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;
    }
    .footer-social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 30px;
        justify-content: center !important;
    }
    
    .footer-social-icons a i{
        font-size: 30px;
    }
    .footer-contact{
        width: 49% !important;
        height: 100%;
        margin-top: 30px;
    }
    .footer-contact-head{
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-contact-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    .footer-contact-body a{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    
    }
    .copywriter{
        width: 100%;
        margin-top: 15px;
    }
    .writer{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
    .writer a{
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
}

                                                            /*768-992*/
@media only screen and (min-width:768px) and (max-width:992px){
    .container{
        width: 100% !important;
        margin: auto;
        overflow: hidden;

    }

    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #FF00CD;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1!important;
    }
    footer{
        width: 100%;
        height: 100%;
        background-color: #FF00CD;
    
    }
    .footer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .footer-logo{
        width: 33% !important;
        height: 230px !important;
        margin-top: 30px;
        border-radius: 44px;
    }
    .footer-logo img{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }
    .footer-page{
        width: 33% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        text-align: center;
    }
    .footer-nav-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-navs{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
    }
    .footer-navs li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-address{
        width: 33% !important;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-address-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-address-body{
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-social{
        width: 49% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-social-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;
    }
    .footer-social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 30px;
    }
    
    .footer-social-icons a i{
        font-size: 30px;
    }
    .footer-contact{
        width: 49% !important;
        height: 100%;
        margin-top: 30px;
    }
    .footer-contact-head{
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-contact-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    .footer-contact-body a{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    
    }
    .copywriter{
        width: 100%;
        margin-top: 15px;
    }
    .writer{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
    .writer a{
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px){
    .container{
        width: 100% !important;
        margin: auto;
        overflow: hidden;
    }
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #FF00CD;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1!important;
    }

    footer{
        width: 100%;
        height: 100%;
        background-color: #FF00CD;
    
    }
    .footer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        flex-wrap: wrap !important;
        margin-top: 30px;
    }
    .footer-logo{
        width: 25% !important;
        height: 230px !important;
        margin-top: 30px;
        border-radius: 44px;
    }
    .footer-logo img{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }
    .footer-page{
        width: 25% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        text-align: center;
    }
    .footer-nav-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-navs{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
    }
    .footer-navs li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-address{
        width: 25% !important;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-address-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-address-body{
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-social{
        width: 25% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-social-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;
    }
    .footer-social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 30px;
    }
    
    .footer-social-icons a i{
        font-size: 30px;
    }
    .footer-contact{
        width: 100% !important;
        height: 100%;
        margin-top: 30px;
    }
    .footer-contact-head{
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-contact-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    .footer-contact-body a{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    
    }
    .copywriter{
        width: 100%;
        margin-top: 15px;
    }
    .writer{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
    .writer a{
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }

}