*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.header{
    display: flex;
}
nav{
    height: 60px;
    width: 100vw;
    background-color: #FF00CD;
    display: flex;
    position: fixed;
    z-index: 10;
    overflow: hidden;
}
 
 /*Styling logo*/
.logo{
    padding:1vh 1vw;
    align-items: center;

} 
.logo a{
    text-decoration: none;
    color: #FFFFFF !important;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: italic;
    font-weight: 500;
    line-height: 0px; 
    letter-spacing: 1.2px;
}
 /*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li a{
    text-decoration: none;
    color: #FFF !important;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 0px; 
    letter-spacing: 1.0px;
    margin: 0 0.7vw;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}
.nav-links li a:hover::before{
    width: 80%;
}
 
/*Styling Hamburger Icon*/
.hamburger div{
   width: 30px;
   height:3px;
   background: #f2f5f7;
   margin: 5px;
   transition: all 0.3s ease;
}
.hamburger{
   display: none;
}



.container{
    max-width: 1320px;
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.nav-item a{
    text-decoration: none;
    color: #FFF !important;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 0px; 
    letter-spacing: 1.0px;
}
.navbar-logo a{
    text-decoration: none;
    color: #FFFFFF !important;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-style: italic;
    font-weight: 500;
    line-height: 0px; 
    letter-spacing: 1.2px;
}

.section1{
    position: relative;
    width: 100%;
    height: 750px;
}
.sections{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 35%;
    justify-content: space-between;
    align-items: center;

}
.section1 img{
    width: 100%;
    height: 100%;
}

.sections div{
    width:45%;
    height: 100px;
}
.sections div p{
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-style: italic;
    font-weight: 200 !important;
    line-height: 55px; 
    letter-spacing: 1.5px;    
}
.products{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.products-title{
    width: 100%;
    height: 60px;
    color: #000;
    text-align: center;
    font-family: Fira Sans;
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px; 
    letter-spacing: 3.76px;
    margin-top: 50px;
}
.cards{
    width: 100%;
    height: 950px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 100%;
    border: 0;
    width: 40%;
    height:450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.card-text{
    
    width: 100%;
    height: 60px;
    color: black;
    text-align: center;
    font-family: Fira Sans;
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 3.76px;
    margin-top: 30px;
}
.card img{
    width: 70%;
    height: 300px;

}
.youtubes{
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.youtube{
    width: 100%;
    height:500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.youtube div{
    width: 45%;
    height: 100%;
}
.youtube-head{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    font-size: 47px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 3.76px;
    word-wrap: break-word
}
.video1 iframe{
    width: 100%;
    height: 350px;
    border-radius: 40px;
    margin-top: 40px;

}
.video2 iframe{
    width: 100%;
    height: 350px;
    border-radius: 40px;
    margin-top: 50px;
}
.video1 p{
  width: 100%;
  color: black;
  font-size: 47px;
  font-family: Fira Sans;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 3.76px;
  word-wrap: break-word;
  text-align: center;
  margin-top: 30px;
}
.video2 p{
    width: 100%;
    color: black;
    font-size: 47px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 3.76px;
    word-wrap: break-word;
    text-align: center;
    margin-top: 40px;

}
.socials{
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.social-head{
    width: 100%;
    height: 100px;
    color: black;
    font-size: 47px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 3.76px;
    word-wrap: break-word;
    text-align: center;
}
 
.social-body {
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.social-icons {
    width: 100%;
    height: 100%;
    text-align: center;
}


.social-icons a i {
    font-size: 40px;
    border-radius: 25%;
    margin-top: 50px;
    margin-right: 40px;

}

.fa-facebook {
    color: blue;
    transition: 1s all;
}
.fa-facebook:hover{
    font-size: 62px;
}

.fa-instagram {
    color: red;
    transition: 1s all;
}

.fa-instagram:hover{

    font-size: 62px;
}
.fa-youtube {
    color: red;
    transition: 1s all;
}
.fa-youtube:hover{

    font-size: 62px;
}
.fa-tiktok{
    transition: 1s all;
}
.fa-tiktok:hover{

    font-size: 62px;
}
.fa-whatsapp {
    color: rgb(107, 221, 107);
    transition: 1s all;
}
.fa-whatsapp:hover{

    font-size: 62px;
}

.social-icons a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.locations{
    width: 100%;
    height: 500px;
    margin-top: 20px;
}
.location-head{
    width: 100%;
    height: 70px;
    text-align: center;
    color: black;
    font-size: 47px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 3.76px;
    word-wrap: break-word
}
.location{
    width: 100%;
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}
.location-text{
    width: 45%;
    height: 100%;
    border-radius: 40px;

}
.location-text p{
    width: 100%;
    height: 260px;
    text-align: center;
    margin-top: 10px;
    text-align: center;
    color: black;
    font-size: 47px;
    font-family: Fira Sans;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: 3.76px;
    word-wrap: break-word;
}
.location-maps{
    width: 45%;
    height: 100%;
    border-radius: 40px;

}
.location-maps iframe{
    width: 100%;
    height: 100%;
    border-radius: 40px;

}

footer{
    width: 100%;
    background-color: #FF00CD;

}
.footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.footer-logo{
    width: 20%;
    height: 230px;
    margin-top: 30px;
    border-radius: 44px;
}
.footer-logo img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.footer-page{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.footer-nav-head{
    color: rgba(255, 255, 255, 0.90);
    font-size: 25px;
    font-family: Inter;
    font-weight:200;
    line-height: 31px;
    letter-spacing: 1.42px;
    word-wrap: break-word;
    text-align: center;
}
.footer-navs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}
.footer-navs li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.75px;
    word-wrap: break-word
}
.footer-address{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.footer-address-head{
    color: rgba(255, 255, 255, 0.90);
    font-size: 25px;
    font-family: Inter;
    font-weight:200;
    line-height: 31px;
    letter-spacing: 1.42px;
    word-wrap: break-word
}
.footer-address-body{
    color: white;
    font-size: 25px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.75px;
    word-wrap: break-word
}
.footer-social{

    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.footer-social-head{
    color: rgba(255, 255, 255, 0.90);
    font-size: 25px;
    font-family: Inter;
    font-weight:200;
    line-height: 31px;
    letter-spacing: 1.42px;
    word-wrap: break-word;
    text-align: center;
}
.footer-social-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 30px;
}

.footer-social-icons a i{
    font-size: 33px;
}
.footer-contact{
    height: 100%;
    margin-top: 30px;
}
.footer-contact-head{
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    font-size: 25px;
    font-family: Inter;
    font-weight:200;
    line-height: 31px;
    letter-spacing: 1.42px;
    word-wrap: break-word
}
.footer-contact-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}
.footer-contact-body a{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.75px;
    word-wrap: break-word;
    text-decoration: none;

}
.copywriter{
    width: 100%;
    margin-top: 10px;
}
.writer{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.75px;
    word-wrap: break-word;
    text-decoration: none;
}
.writer a{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.75px;
    word-wrap: break-word;
    text-decoration: none;
}
          
                                                            /*Responsive Design */


@media only screen and (max-width:576px){
    .container{
        width: 100% !important;
        margin: auto;
        overflow: hidden;

    }
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #FF00CD;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
  
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    li.fade{
        opacity: 1;
    }

    /*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
 }
 .toggle .line2{
    transition: all 0.7s ease;
    width:0;
 }
 .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
 }
    .section1{
        position: relative;
        width: 100%;
        height: 750px;
    }
    .sections{
        width: 100%;
        height: 550px  !important;
        display: flex;
        flex-direction: column  !important;
        position: absolute;
        top: 20%;
        justify-content: space-between;
        align-items: center;
    
    }
    .section1 img{
        width: 100%;
        height: 100%;
    }   
    .sections div{
        width:100% !important;
        height: 200px;
    }
    .sections div p{
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 45px;
        font-style: italic;
        font-weight: 200 !important;
        line-height: 55px; 
        letter-spacing: 1.5px;    
    }
    .products{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .products-title{
        width: 100%;
        height: 60px;
        color: #000;
        text-align: center;
        font-family: Fira Sans;
        font-size: 47px;
        font-style: normal;
        font-weight: 400;
        line-height: 65px; 
        letter-spacing: 3.76px;
        margin-top: 50px;
    }
    .cards{
        width: 100%;
        height: 950px;
        margin-top: 40px;
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .card{
        width: 100%;
        border: 0;
        width: 100% !important;
        height:400px;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        margin-top: 70px;
    }
    .card-text{
        width: 100%;
        height: 80px;
        color: black;
        text-align: center;
        font-family: Fira Sans;
        font-size: 47px;
        font-style: normal;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 3.76px;
        margin-top: 30px;
    }
    .card img{
        width: 100% !important;
        height: 300px !important;    
    }
    .youtubes{
        width: 100%;
        height: 960px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
    .youtube{
        width: 100%;
        height:850px;
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
    }
    .youtube div{
        width: 100%;
        height: 400px !important;
    }
    .youtube-head{
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        color: black;
        font-size: 47px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 3.76px;
        word-wrap: break-word
    }
    .video1 iframe{
        width: 100%;
        height: 250px !important;
        border-radius: 40px;
    
    }
    .video2 iframe{
        width: 100%;
        height: 250px !important;
        border-radius: 40px;
    }
    .video1 p{
      width: 100%;
      color: black;
      font-size: 47px;
      font-family: Fira Sans;
      font-weight: 400;
      line-height: 65px;
      letter-spacing: 3.76px;
      word-wrap: break-word;
      text-align: center;
      margin-top: 20px !important;
    }
    .video2 p{
        width: 100%;
        color: black;
        font-size: 47px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 3.76px;
        word-wrap: break-word;
        text-align: center;
        margin-top: 20px !important;
    
    
    }
    .socials{
        width: 100%;
        height: 400px;
        margin-top: 150px;
    }
    .social-head{
        width: 100%;
        height: 100px;
        color: black;
        font-size: 47px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 3.76px;
        word-wrap: break-word;
        text-align: center;
    }    
    .social-body {
        width: 100%;
        height: 250px;
        margin-top: 50px;
    }   
    .social-icons {
        width: 100%;
        height: 100%;
        text-align: center;
    }  
    .social-icons a i {
        font-size: 40px;
        border-radius: 25%;
        margin-top: 50px;
        margin-right: 40px;
    
    }
    .locations{
        width: 100%;
        height: 750px !important;
        margin-top: 20px;
    }
    .location-head{
        width: 100%;
        height: 70px;
        text-align: center;
        color: black;
        font-size: 47px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 3.76px;
        word-wrap: break-word
    }
    .location{
        width: 100%;
        height:550px;
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        margin-top: 50px;
    }
    .location-text{
        width: 100%;
        height: 30% !important;
        border-radius: 40px;
    
    }
    .location-text p{
        width: 100%;
        height:100% !important;
        text-align: center;
        margin-top: 10px;
        text-align: center;
        color: black;
        font-size: 38px;
        font-family: Fira Sans;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 1.76px;
        word-wrap: break-word;
    }
    .location-maps{
        width: 100%;
        height: 55%;
        border-radius: 40px;
    
    }
    .location-maps iframe{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    
    }

    footer{
        width: 100%;
        background-color: #FF00CD;
    
    }
    .footer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
    }
    .footer-logo{
        width: 100%;
        height: 300px;
        margin-top: 30px;
        border-radius: 44px;
    }
    .footer-logo img{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }
    .footer-page{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        text-align: center;
    }
    .footer-nav-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-navs{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
    }
    .footer-navs li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-address{
        width: 100%;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-address-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-address-body{
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-social{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-social-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;
    }
    .footer-social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 30px;
    }
    
    .footer-social-icons a i{
        font-size: 30px;
    }
    .footer-contact{
        width: 100%;
        height: 100%;
        margin-top: 30px;
    }
    .footer-contact-head{
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-contact-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    .footer-contact-body a{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    
    }
    .copywriter{
        width: 100%;
        margin-top: 15px;
    }
    .writer{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
    .writer a{
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }

}


                                                            /* 576-768*/
@media only screen and (min-width:576px) and (max-width:768px){
    .container{
        width: 100% !important;
        margin: auto;
        overflow: hidden;

    }
    /* header{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: #FF00CD;
        position: fixed;
        z-index: 99999;
        justify-content: center;
    }
    .navbar-logo{
        display: block;
        align-items: center;
    }
    .navbar-items{
        width: 80%;
        display: none;
    }
    .hamburger-menu{
        display: flex !important;
    }  */
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #FF00CD;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }



    .section1{
        position: relative;
        width: 100%;
        height: 750px;
    }
    .sections{
        width: 100%;
        height: 550px  !important;
        display: flex;
        flex-direction: column  !important;
        position: absolute;
        top: 20%;
        justify-content: space-between;
        align-items: center;
    
    }
    .section1 img{
        width: 100%;
        height: 100%;
    }
    
    .sections div{
        width:100% !important;
        height: 200px;
    }
    .sections div p{
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 45px;
        font-style: italic;
        font-weight: 200 !important;
        line-height: 55px; 
        letter-spacing: 1.5px;    
    }

    .products{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .products-title{
        width: 100%;
        height: 80px;
        color: #000;
        text-align: center;
        font-family: Fira Sans;
        font-size: 47px;
        font-style: normal;
        font-weight: 400;
        line-height: 65px; 
        letter-spacing: 3.76px;
        margin-top: 50px;
    }
    .cards{
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .card{
        width: 100%;
        border: 0;
        width: 100% !important;
        height:450px;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        margin-top: 70px;
    }
    .card-text{
        width: 100%;
        height: 80px;
        color: black;
        text-align: center;
        font-family: Fira Sans;
        font-size: 47px;
        font-style: normal;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 3.76px;
        margin-top: 30px;
    }
    .card img{
        width: 100% !important;
        height: 320px !important;    
    }


    .youtubes{
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
    .ytbs{
        width: 100% !important;
        height: 70px !important;
    }
    .youtube{
        width: 100%;
        height:1000px !important;
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
    }
    .youtube div{
        width: 100%;
        height: 490px !important;
    }
    .youtube-head{
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        color: black;
        font-size: 47px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 3.76px;
        word-wrap: break-word
    }
    .video1 iframe{
        width: 100%;
        height: 350px !important;
        border-radius: 40px;
    
    }
    .video2 iframe{
        width: 100%;
        height: 350px !important;
        border-radius: 40px;
    }
    .video1 p{
      width: 100%;
      color: black;
      font-size: 47px;
      font-family: Fira Sans;
      font-weight: 400;
      line-height: 65px;
      letter-spacing: 3.76px;
      word-wrap: break-word;
      text-align: center;
      margin-top: 20px !important;
    }
    .video2 p{
        width: 100%;
        color: black;
        font-size: 47px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 3.76px;
        word-wrap: break-word;
        text-align: center;
        margin-top: 20px !important;
    
    
    }

    .socials{
        width: 100%;
        height: 400px;
        margin-top: 150px;
    }
    .social-head{
        width: 100%;
        height: 100px;
        color: black;
        font-size: 47px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 3.76px;
        word-wrap: break-word;
        text-align: center;
    }
     
    .social-body {
        width: 100%;
        height: 250px;
        margin-top: 50px;
    }
    
    .social-icons {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    
    .social-icons a i {
        font-size: 40px;
        border-radius: 25%;
        margin-top: 50px;
        margin-right: 40px;
    
    }


    .locations{
        width: 100%;
        height: 750px !important;
        margin-top: 20px;
    }
    .location-head{
        width: 100%;
        height: 70px;
        text-align: center;
        color: black;
        font-size: 47px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 65px;
        letter-spacing: 3.76px;
        word-wrap: break-word
    }
    .location{
        width: 100%;
        height:550px;
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        margin-top: 50px;
    }
    .location-text{
        width: 100%;
        height: 30% !important;
        border-radius: 40px;
    
    }
    .location-text p{
        width: 100%;
        height:100% !important;
        text-align: center;
        margin-top: 10px;
        text-align: center;
        color: black;
        font-size: 38px;
        font-family: Fira Sans;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 1.76px;
        word-wrap: break-word;
    }
    .location-maps{
        width: 100%;
        height: 55%;
        border-radius: 40px;
    
    }
    .location-maps iframe{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    
    }


    
    footer{
        width: 100%;
        background-color: #FF00CD;
    
    }
    .footer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap !important;
        justify-content: space-between;
        margin-top: 30px;
    }
    .footer-logo{
        width: 49% !important;
        height: 280px;
        margin-top: 30px;
        border-radius: 44px;
    }
    .footer-logo img{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }
    .footer-page{
        width: 49% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        text-align: center;
    }
    .footer-nav-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;
    }
    .footer-navs{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
    }
    .footer-navs li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
    }
    .footer-address{
        width: 49% !important;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-address-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;

    
    }
    .footer-address-body{
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-social{
        width: 49% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-social-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;
    }
    .footer-social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 30px;
        justify-content: center !important;
    }
    
    .footer-social-icons a i{
        font-size: 30px;
    }
    .footer-contact{
        width: 49% !important;
        height: 100%;
        margin-top: 30px;
    }
    .footer-contact-head{
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-contact-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    .footer-contact-body a{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    
    }
    .copywriter{
        width: 100%;
        margin-top: 15px;
    }
    .writer{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
    .writer a{
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
}

                                                            /*768-992*/
@media only screen and (min-width:768px) and (max-width:992px){
    .container{
        width: 100% !important;
        margin: auto;
        overflow: hidden;

    }

    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #FF00CD;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }


    /* header{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: #FF00CD;
        position: fixed;
        z-index: 99999;
        justify-content: center;
    }
    .navbar-logo{
        display: block;
        align-items: center;
    }
    .navbar-items{
        width: 80%;
        display: none;
    }
    .hamburger-menu{
        display: flex !important;
    }  */
    footer{
        width: 100%;
        background-color: #FF00CD;
    
    }
    .footer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .footer-logo{
        width: 33% !important;
        height: 230px !important;
        margin-top: 30px;
        border-radius: 44px;
    }
    .footer-logo img{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }
    .footer-page{
        width: 33% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        text-align: center;
    }
    .footer-nav-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-navs{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
    }
    .footer-navs li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-address{
        width: 33% !important;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-address-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-address-body{
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-social{
        width: 49% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-social-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;
    }
    .footer-social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 30px;
    }
    
    .footer-social-icons a i{
        font-size: 30px;
    }
    .footer-contact{
        width: 49% !important;
        height: 100%;
        margin-top: 30px;
    }
    .footer-contact-head{
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-contact-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    .footer-contact-body a{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    
    }
    .copywriter{
        width: 100%;
        margin-top: 15px;
    }
    .writer{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
    .writer a{
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px){
    .container{
        width: 100% !important;
        margin: auto;
        overflow: hidden;
    }

   


    /* .hamburger-menu{
        display: none !important;
    }  */
    footer{
        width: 100%;
        background-color: #FF00CD;
    
    }
    .footer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        flex-wrap: wrap !important;
        margin-top: 30px;
    }
    .footer-logo{
        width: 25% !important;
        height: 230px !important;
        margin-top: 30px;
        border-radius: 44px;
    }
    .footer-logo img{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }
    .footer-page{
        width: 25% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        text-align: center;
    }
    .footer-nav-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-navs{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
    }
    .footer-navs li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-address{
        width: 25% !important;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-address-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-address-body{
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word
    }
    .footer-social{
        width: 25% !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .footer-social-head{
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word;
        text-align: center;
    }
    .footer-social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 30px;
    }
    
    .footer-social-icons a i{
        font-size: 30px;
    }
    .footer-contact{
        width: 100% !important;
        height: 100%;
        margin-top: 30px;
    }
    .footer-contact-head{
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.90);
        font-size: 25px;
        font-family: Inter;
        font-weight:200;
        line-height: 31px;
        letter-spacing: 1.42px;
        word-wrap: break-word
    }
    .footer-contact-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    .footer-contact-body a{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 25px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    
    }
    .copywriter{
        width: 100%;
        margin-top: 15px;
    }
    .writer{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }
    .writer a{
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.75px;
        word-wrap: break-word;
        text-decoration: none;
    }

}

